#.gitignore はgitの追跡を削除・管理するための設定ファイルです

#容量が大きくなってしまうためリソースファイルはgitで管理しません
#テストで用いたいデータは個別にresourceフォルダ内のディレクトリに配置してください
#リソースファイルを共有しない
/resource/image
/resource/sound
#メンバーの個人情報は共有しない
/resource/member_breloom.csv

#ログファイルは競合するので共有しない
/log
nohup.out
#レポートは同期しない
/save/report.csv

#リポジトリに共有したくないファイルはtempフォルダに配置してください
/temp

#dontignoreファイルを目印として空のディレクトリを追跡する
!dontignore

#botトークンは共有しない(.envの中身は以下の通り)
#DISCORD_TOKEN=ここにbotトークン
.env
