#.gitignore はgitの追跡を削除・管理するための設定ファイルです

#容量が大きくなってしまうためリソースファイルはgitで管理しません
#テストで用いたいデータは個別にresourceフォルダ内のディレクトリに配置してください
#リソースファイルを共有しない
/resource/image
/resource/sound

#bot上で変更されるファイルは同期しない(まとめるべきかも)
/resource
/save
/log


#リポジトリに共有したくないファイルはtempフォルダに配置してください
/temp

#dontignoreファイルを目印として空のディレクトリを追跡する
!dontignore

#botトークンは共有しない(.envの中身は以下の通り)
#DISCORD_TOKEN=ここにbotトークン
.env
